<ion-header>
 
  <ion-toolbar color="primary">
    
    <ion-title style="font-family: cursive">Login Page</ion-title>
  
  </ion-toolbar>

</ion-header>
  <ion-content padding>
      <ion-list>
    <div class="picture">
  <img src="../../../assets/images/cloud2.png" >
    </div>
    <p>Hello there!</p>
 
    <ion-item class="item">
      <ion-label style="font-family: cursive" position="floating">Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label style="font-family: cursive" position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

 
      <ion-button color="primary">Login</ion-button>
    
  </ion-list>
  
</ion-content>



